@page "/LOLChampions"

@using CRUDCodeFirst.Data
@using CRUDCodeFirst.Services
@inject IChampionServices _championService

<h3>CRUD</h3>

<button class="btn btn-primary" @onclick="ShowPopup">Add new Champion</button>

@if (popup)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="ClosePopup"></button>
                </div>

                <EditForm Model="newChamp" OnInvalidSubmit="AddChampion">
                    <div class="modal-body">
                        <table border="1">
                            <tr>
                                <td><input type="text" placeholder="Champion name here..." @bind="newChamp.Name" /></td>
                            </tr>
                            <tr>
                                <select @bind="newChamp.Class">
                                    <option value="">Select a class</option>
                                    <option value="1">Mage</option>
                                    <option value="2">ADC</option>
                                    <option value="3">Assassin</option>
                                    <option value="4">Tank</option>
                                    <option value="5">Bruiser</option>
                                </select>
                            </tr>
                            <tr>
                                <select @bind="newChamp.StartingAttackDamage">
                                    <option value="">Select a damage type</option>
                                    <option value="1">AD</option>
                                    <option value="2">AP</option>
                                    <option value="3">Mixed</option>
                                </select>
                            </tr>
                        </table>
                    </div>
                </EditForm>

               
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="ClosePopup">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="ClosePopup">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}


<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Class</th>
        <th>Damage type</th>
        <th>Starting attack damage</th>
    </tr>
    @foreach (var champ in displayChampions)
    {
        <tr>
            <td>@champ.ChampionId</td>
            <td>@champ.Name</td>
            <td>@champ.Class</td>
            <td>@champ.DamageType</td>
            <td>@champ.StartingAttackDamage</td>
        </tr>
    }
</table>


@code {
    List<Champion> displayChampions;
    bool popup = false;
    Champion newChamp = new Champion();

    protected override void OnInitialized()
    {
        displayChampions = _championService.GetChampions();
    }

    void ShowPopup()
    {
        popup = true;
    }

    void ClosePopup()
    {
        popup = false;
    }

    void AddChampion()
    {
        newChamp.ChampionId = 0;
        _championService.AddChampion(newChamp);

        // Run this again in order to show newly added champion
        displayChampions = _championService.GetChampions();
    }

}
